<div class="container-fluid" style="background-color: cyan;min-height: 100vh;height: 100%;">
    <div class="row">
        <div class="col-md-3">
            <input type="button" class="btn btn-primary" value="Home Page" (click)="goToHome()"/>
     
        </div>
        <div class="col-md-6">
            <h1>Medicare</h1>
            <div class="card" style="background-color: beige;text-align: center;">
                <div class="card-header" style="text-align: center;">
                    Purchase Details
                </div>
                <div class="card-body" style="text-align: center;">
                 <p>
                    Products will be delivered to {{pUser.name}}, &nbsp; {{pUser.address.houseNo}},&nbsp;
                    {{pUser.address.locality}},&nbsp;{{pUser.address.district}},&nbsp;{{pUser.address.state}}
            
                 </p>         <br/>
                    Total price:{{totalCost}}
                  <table style="text-align: center;width: 100%;">
                        <tr *ngFor="let med of medicines" style="text-align: center;width: 100%;">
                            <td style="text-align: center;">
                               <div class="card" style="text-align: center;">
                                <div class="card-header" style="text-align: center;">
                                    {{med.name}}
                                </div>
                                <div class="card-body" style="text-align: center;">
                                    <img src="{{med.url}}"/>
                                    <br/>
                                    Rs{{med.price}}/-
                                </div>
                               </div>                    
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
        </div>
        <div class="col-md-3">
               </div>
    </div>
</div>
