<div class="container-fluid" style="background-color: cyan;height: 100vh;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Payment Portal</h1>
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    Credit Card Details
                </div>
                <div class="card-body" >
                    <form #frmPay="ngForm">
                        Card Holder Name:<input type="text" name="name" class="form-control" [(ngModel)]="name" required/>
                        <br/>
                        Card Number:<input type="number" name="number" class="form-control" [(ngModel)]="number" required/>
                        <br/>
                        Expiry Date:<input type="date" name="date" class="form-control" [(ngModel)]="date" required/>
                        <br/>
                        CVV:<input type="number" name="cvv" class="form-control" [(ngModel)]="cvv" required/>
                        <br/>
                        <input type="button" class="btn btn-primary" value="Pay" [disabled]="frmPay.form.invalid" (click)="goToConfirmation()" />
                        
                    </form> 
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
